.ReportsQueue{
    background-color: #2e3131;
    width: 660px;
    height: fit-content;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
}

.Report{
    background-color: #5b5f5f;
    border: black solid 2px;
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.Report button{
    background-color: #5b5f5f;
    width: 49%;
    height: 50%;
    display: inline;
    margin: auto;
}

.ReportingContainer{
    display : flex;
    justify-content : center;
    align-items : center;
    gap: 25px;
    margin-top: 5px;
}

.VideoContainer{
    width: fit-content;
    height: fit-content;
}

.VideoContainer video{
    width: 65vw;
    height: 486px;
    border: black solid 3px;
}

.ReportReasonContainer textarea{
    width: 25vw;
    height: 486px;
    background-color: #2e3131;
    color: #fff;
}