@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background-color: #c0c0c0;
}

.Header{
    background-color: cadetblue;
}

.Header h1{
    display: inline;
}

.Header a{
    margin-left: 5px;
    text-decoration: none;
    color: black;
    text-align: right;
    display: inline;
}