@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background-color: #c0c0c0;
}

.PageContainer{
    width: 90%;
    height: fit-content;
    padding: 10px;
    margin: auto;
    top: 25%;
}