 /* Global style sheet is used for styles that are used across all pages but can be overridden by other CSS files */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    color: #e0e0e0;
}

body{
    background-color: #121212;
}

.Header{
    background-color: #2e3131;
}

.Header h1{
    display: inline;
}

.Header a{
    margin-left: 5px;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle; 
    text-align: right;
}

.Header p{
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}

.Header h5{
    color: yellow;
    margin-left: 5px;
}

.Footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2e3131;
    color: white;
    text-align: center;
}

.Footer img{
    width: 32px;
    margin: 0;
    line-height: 3px;
    display: inline;
    vertical-align: middle;
}

.Footer h5{
    display: inline;
    text-align: center;
    vertical-align: middle;
}