.VideoContainer{
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 10%;
}

.VideoContainer video{
    width: 40%;
    border: black solid 3px;
}

.VideoContainer img{
    width: 40%;
    border: black solid 3px;
}

.SiteUsagePopup{
    width: 40%;
    height: fit-content;
    padding: 10px;
}